{% extends 'base-auth.html' %}

{% block header %}
  <script src="../static/jquery-3.6.0.min.js"></script>
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p style="font-size:smaller">Enter your details and click the button:</p>
  <form method="post" action="javascript:sendBluehostPasswordResetEmail();">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <input type="submit" value="Send Password Reset Link">
  </form>

  <script>
  // Function to send password reset email.
  function sendBluehostPasswordResetEmail() {
    // Use AJAX to send the email.
    var url = "https://martinvz.com/email-test/email.py";

    var params = {};
    params["email"] = "martin.vanzijl@gmail.com";
    params["link"] = "https://ocm-martinvanzijl.pythonanywhere.com/auth/reset-password?link=12345";

    // Save to server.
    $.post( url, params, function(data, status) {
      // Get AJAX response.
      // var jsonReply = data;

      // Check result.
      // var replyStatus = jsonReply.status;
      //
      // if (replyStatus == "OK") {
        showToastMessage("Reset link sent.");
      // }
      // else {
      //   // An error happened.
      //   alert("Could not send link. Details:\n" + jsonReply.problem);
      // }
    });
  }
  </script>
{% endblock %}
