{% extends 'base-auth.html' %}

{% block header %}
  <script src="../static/jquery-3.6.0.min.js"></script>
  <!-- Toast message. -->
  <link rel="stylesheet" href="../static/toast-message.css">
  <script src="../static/toast-message.js"></script>
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- The toast message. -->
  <div id="snackbar">Diagram deleted.</div>

  <p style="font-size:smaller">Enter your details and click the button:</p>
  <form method="post" action="javascript:createAndSendPasswordResetLink();">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <input type="submit" value="Send Password Reset Link">
  </form>

  <script>
  // Function to create password reset link.
  function createAndSendPasswordResetLink() {
    // Create ID.
    // var id = Date.now().toString(36) + Math.random().toString(36).substring(2);

    // Use AJAX to ask the server to save the link to the database.
    var url = "create-reset-password-link";

    var params = {};
    params["username"] = document.getElementById("username").value;
    params["email"] = document.getElementById("email").value;

    // Save to server.
    $.post( url, params, function(data, status) {
      // Get AJAX response.
      var jsonReply = data;

      // Check result.
      var replyStatus = jsonReply.status;

      if (replyStatus == "OK") {
        showToastMessage("Reset link stored in database.");
        var token = jsonReply.link;
        var expiryDate = jsonReply.expiry_date;
        sendBluehostPasswordResetEmail(token, expiryDate);
      }
      else {
        // An error happened.
        alert("Could not create link. Details:\n" + jsonReply.problem);
      }
    });
  }

  // Function to send password reset email.
  function sendBluehostPasswordResetEmail(token, expiryDate) {
    // Use AJAX to send the email.
    var url = "https://martinvz.com/email-test/email.php";

    var params = {};
    params["email"] = "martin.vanzijl@gmail.com";
    params["link"] = "https://ocm-martinvanzijl.pythonanywhere.com/auth/reset-password?link=" + token;
    params["expiry_date"] = expiryDate;

    // Save to server.
    $.post( url, params, function(data, status) {
      // Get AJAX response.
      var jsonReply = data;

      // Check result.
      var replyStatus = jsonReply.status;

      if (replyStatus == "OK") {
        showToastMessage("Reset link sent.");
      }
      else {
        // An error happened.
        alert("Could not send link. Details:\n" + jsonReply.problem);
      }
      console.log("Reply:", data);
    });
  }
  </script>
{% endblock %}
