{% extends 'base-auth.html' %}

{% block header %}
  <script src="../static/jquery-3.6.0.min.js"></script>
  <!-- Toast message. -->
  <link rel="stylesheet" href="../static/toast-message.css">
  <script src="../static/toast-message.js"></script>
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- The toast message. -->
  <div id="snackbar">Hello World!</div>

  <p style="font-size:smaller">Please enter your new password twice below:</p>
  <form method="post" action="javascript:saveNewPassword();">
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required>
    <label for="confirm">Confirm</label>
    <input type="password" name="confirm" id="confirm" required>
    <input type="submit" value="Save New Password">
  </form>

  <script>
  // Function to create password reset link.
  function saveNewPassword() {
    // Check match.
    var newPassword = document.getElementById("new_password").value;
    var confirm = document.getElementById("confirm").value;

    if (newPassword != confirm) {
      showToastMessage("Passwords don't match. Please check.");
      return;
    }

    // Use AJAX to ask the server to save the link to the database.
    var url = "save-new-password";

    var params = {};
    params["new_password"] = newPassword;
    params["link"] = "{{ g.passwordResetLink }}";

    // Save to server.
    $.post( url, params, function(data, status) {
      // Get AJAX response.
      var jsonReply = data;

      // Check result.
      var replyStatus = jsonReply.status;

      if (replyStatus == "OK") {
        // Go to confirmation page.
        window.location = "password-saved";
      }
      else {
        // An error happened.
        alert("Could not change password. Details:\n" + jsonReply.problem);
      }
    });
  }

  // Check for errors.
  {% if g.error %}
    alert("{{ g.error }}");
  {% endif %}
  </script>

{% endblock %}
